---
import { HiArrowRight } from "react-icons/hi";

export interface Props {
  titulo: string;
  imagen: string;
  tecnologias: string[];
  demo: string;
  codigo: string;
}

const { titulo, imagen, tecnologias, demo, codigo } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;

const targetDemo = (demo.startsWith('/') && !demo.startsWith('http')) ? `${baseUrl}${demo.slice(1)}` : demo;
const targetCodigo = (codigo.startsWith('/') && !codigo.startsWith('http')) ? `${baseUrl}${codigo.slice(1)}` : codigo;
---

<div
  class="group flex w-full max-w-md mx-auto flex-col overflow-hidden rounded-xl bg-gray-900 border border-none transition-all hover:scale-[1.015] drop-shadow-[4px_4px_0_#8c0303]"
>
  <img
    src={imagen}
    alt={`Proyecto: ${titulo}`}
    class="h-52 p-3 w-full object-cover rounded-2xl"
  />

  <div class="flex flex-col grow p-3">
    <h3 class="text-lg font-semibold mb-2 text-white drop-shadow-[1px_1px_0_#8c0303]">{titulo}</h3>

    <div class="flex flex-wrap gap-2 mb-4">
      {
        tecnologias.map((tech) => (
          <span class="rounded-md bg-red-500/10 text-red-400 px-2 py-0.5 text-xs font-semibold">
            {tech}
          </span>
        ))
      }
    </div>

    <div class="mt-auto flex justify-between gap-3">
      <a
        href={targetDemo}
        class="w-full text-center border border-[#ef4444] text-[#ef4444] py-1.5 rounded-md text-sm font-semibold hover:bg-[#ef4444] hover:text-white transition-colors"
      >
        Ver Caso
      </a>

      <a
        href={targetCodigo}
        class="w-full text-center border border-[#ef4444] text-[#ef4444] py-1.5 rounded-md text-sm font-semibold hover:bg-[#ef4444] hover:text-white transition-colors"
      >
        Estrategia
      </a>
    </div>
  </div>
</div>
